@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;700&display=swap');
html{
	box-sizing: border-box;
	overflow-x: hidden;
}
*, * ::before, * ::after{
	box-sizing: inherit;
}
body, *{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	font-family: 'Poppins';
	font-size: 16px;
}
img{
	width: 100%;
	height: auto;
}
.container{
	width: 100%;
	margin: 0 auto;
	padding: auto;
	max-width: 1440px;
}
.link{
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	border: 0;
}
.link:before{
	padding-right: 4px;
	content: "▸";
}
.link:hover, .link :focus, .link :active{
	color: #FFD723;
}
.section_title{
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
	color: #4D533C;
}
.small_comment{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: rgba(77, 83, 60, 0.9);
}
.block{
	height: 830px;
}
.name_user{
	font-weight: 700;
	font-size: 22px;
	line-height: 33px;
	color: #4D533C;
	margin-bottom: 5px;
}

.description_user{
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #152934;
}
/* HEADER */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding-top: 20px;
	z-index: 4;
	transition: .2s linear;
	padding-bottom: 10px;
}
.header_active{
	background: rgba(130, 139, 115, 0.893);
	
}
.main__nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__links a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 10px;
	line-height: 24px;
	text-align: center;
}
.nav__links a:hover, .nav__links a:focus{
	opacity: .6;
}
.burger{
	width: 40px;
	height: 40px;
	position: relative;
	right: 10px;
	display: block;
	cursor: pointer;
	z-index: 2;
}
.line{
	width: 30px;
	height: 3px;
	position: absolute;
	border-radius: 5px;
	background: #000;
	/* margin: 5px 0; */
	top: 50%;
	transition: all 0.5s;
	transform: translate(-50%, -50%);
}
.burger .line:nth-of-type(2){
	top: calc(50% - 8px);
}
.burger .line:nth-of-type(3){
	top: calc(50% + 8px);
}
@media screen and (max-width: 1024px){
	.nav__links{
		width: 65%;
	}
}
.nav__links{
	position: fixed;
	right: 5px;
	height: 35vh;
	top: 2vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 35px;
	padding-left: 10px;
	width: 20%;
	border-radius:  10px 10px 10px 10px;
	background-color: rgba(225, 229, 224, 0.893);
	transform: translateX(105%);
	transition: all .8s;
}
.nav__links .li{
	list-style-type: none;
	padding-bottom: 35px;
}
.nav__links._active{
	transform: translateX(0%);
}
.burger._active .line:nth-of-type(1){
	display: none;
}
.burger._active .line:nth-of-type(2){
	top: 50%;
  	transform: translate(-50%, 0%) rotate(45deg);
}
.burger._active .line:nth-of-type(3){
	top: 50%;
  	transform: translate(-50%, 0%) rotate(-45deg);
}
/* HEADER */

/* INTRO */
.intro{
	min-height: 100vh;
	background: url('./img/intro.jpg') no-repeat right center;
	background-size: cover;
	padding-top: 170px;
}
.intro_comment{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
	margin-bottom: 27px;
}
.intro_title{
	max-width: 616px;
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
	color: #FFFFFF;
	margin-bottom: 24px;
}
.intro_subtitle{
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	max-width: 580px;
	margin-bottom: 30px;
}
.intro_link{
	color: #FFD723;
	border-bottom: 2px solid #FFD723;
}
.intro_link:before{
	color: #FFD723;
}
/* INTRO */

/* AWARDS */
.awards{
	margin: 0 auto;
	position: relative;
	z-index: 2;
	float: right;
	padding: 0 15px;
}
.awards_wrap{
	display: inline-block;
	position: absolute;
	min-width: 1276px;
	width: 100%;
	display: flex;
	flex-direction: row;
	top: 0;
	right: 0;
	transform: translateY(-45%);
	background-color: #FFFFFF;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	border-radius: 2px;
}
@media (min-width: 1500px) {
	.awards{
		display: inline-block;
		padding-right: 160px;
		margin-bottom: 107px;
	}
}
.award{
	padding: 30px 33px 30px 35px;
}
.award:last-child{
	padding-right: 0;
}
/* AWARDS */

 /* STRATEGY */
.small_comment{
	max-width: 136px;
	margin-top: 220px;
	margin-bottom: 29px;
}
.strategy_title{
	width: 470px;
	margin-bottom: 35px;
}
mark{
	color: #4D533C;
	background: #FFD7231A;
}
.subtitle{
	max-width: 475px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #21384299;
	margin-bottom: 42px;
}
.main_link{
	color: #D4D6D4;
	border-bottom: 1px solid #D4D6D4;
}
.main_link:before{
	color: #D4D6D4;
}
 /* STRATEGY */

 /* first comment */
.comment_1_wrap{
	margin: 0 0 0 auto;
	width: 474px;
	height: 640px;
	position: relative;
	transform: translateY(-80%);
	background-color: #FFFFFF;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	border-radius: 2px;
}
.comment{
	width: 426px;
	padding: 190px 4px 0 40px;
	font-style: italic;
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	color: #4D533C;
}
.user_1{
	padding: 40px 10px 0 10px;
}

hr{
	margin-top: -300px;
}
@media (max-width: 800px) {
	.small_comment{
		margin-top: 200px;
		margin-bottom: 18px;
	}
	.strategy_title{
		width: 50%;
	}
	.subtitle{
		width: 50%;
		height: 80%;
	}
	.comment_1_wrap{
		width: 50%;
		height: 250px;
		transform: translateY(-195%);
	}
	.comment{
		font-size: 16px;
		line-height: 28px;
		width: 90%;
		padding: 10px 2px 0 40px;
	}
	.user_1{
		padding: 5px 5px 0 5px;
	}
	.name_user{
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 2px;
	}
	.description_user{
		font-size: 14px;
		line-height: 20px;
	}
	hr{
		margin-top: -150px;
	}
}
 /* first comment */

 /* third block */
 .block_wrap{
	display: flex;
	flex-direction: row;
	margin-top: 150px;
	margin-bottom: 105px;
	justify-content: space-around;
 }
 .block_title{
	width: 325px;
 }
 .block_comment{
	width: 520px;
	margin-bottom: 5px;
 }
 .test{
	position: relative;
 }
 .figure{
	position: absolute;
	width: 750px;
	height: 450px;
	top: 0px;
	left: 0px;
 }
.wall{
	padding: 100px 0px 24px 890px;
}

.wall_1{
	width: 420px;
	margin-bottom: 90px;
}
 .comment_2_wrap{
	margin: 125px 610px 0 auto;
	width: 500px;
	height: 330px;
	background-color: #FFFFFF;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	border-radius: 10px;
 }
 .comment_2 {
	width: 450px;
	font-size: 16px;
	line-height: 35px;
	padding: 30px 30px 0px 30px;
 }
.user_2 {
	margin: 25px 0 0 10px;
}
.item__time {
	display: flex;
	flex-direction: row;
}

.item__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: -50px;
}
.item__2{
	margin-top: -48px;
	margin-left: -65px;
}
 /* third block */

 /* fourth block */
 .test{
	position: relative;
	margin-bottom: 0px;
 }
 .figure__2{
	position: absolute;
	width: 750px;
	height: 250px;
	right: 0px;
	left: 690px;
 }
.wall__2{
	padding-top: 65px;
	padding-bottom: 24px;
	width: 450px;
}
.fff{
	width: 350px;
}
 .comment_3_wrap{
	margin: 125px 330px 0 auto;
	width: 500px;
	height: 330px;
	background-color: #FFFFFF;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	border-radius: 10px;
 }
 .comment_3 {
	width: 450px;
	font-size: 16px;
	line-height: 35px;
	padding: 30px 30px 0px 30px;
 }
.user_3 {
	margin: 25px 0 0 10px;
}
.item__3{
	margin-top: -48px;
	margin-left: -65px;
}
 /* fourth block */

 /* fifth block */
 .com__4{
	 height: 280px;
 }
 .title_3{
	width: 450px;
}
  /* fifth block */

 .hr2{
	margin-top: 30px;
 }
.block_wrap_2{
	margin-top: 200px;
	padding-bottom: 320px;
 }
 .title__4{
	padding: 50px 0px 65px 165px;
	width: 770px;
 }
 .tarifs{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 60px;
	padding: 0 170px;
 }
 .tarif{
	 grid-column: span 1;
 }
 .tarif__title{
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #4D533C;
	max-width: 183px;
	margin-bottom: 20px;
 }
 .tarif__desc{
	max-width: 194px;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	color: #21384299;
 }
 .one{
	margin-bottom: 56px;
 }
 .two{
	margin-bottom: 30px;
 }
 /* LET'S MAKE */

.making{
	min-width: 1275px;
	background-color: #FAFAFA;
	margin: 0 auto;
	position: relative;
	float: left;
	padding: 70px 285px 135px 164px;
	box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}
.making_wrap{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-50%);
	background-color: #FAFAFA;
}
.title{
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
	color: #4D533C;
	max-width: 820px;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* FOOTER */
.footer{
	background-image: url(./img/footer.svg);
	height: 980px;
	padding: 310px 0 0 150px;
}
.footer__item{
	display: flex;
	flex-wrap: wrap;
}
.footer__nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 39%;
	padding: 0 10px;
}
.footer__menu__item{
	margin: 0 10px;
}
.footer__menu__green{
	font-weight: 400;
	font-size: 16px;
	line-height: 45px;
	color: #B6C197;
	text-decoration: none;
	padding-top: 20px;
}
.footer__menu__white{
	font-weight: 700;
	font-size: 16px;
	line-height: 40px;
	color: #FFFFFF;
	padding-bottom: 20px;
	text-decoration: none;
}
.footer__menu__white__title{
	font-weight: 600;
	font-size: 16px;
	line-height: 38px;
	text-transform: uppercase;
	color: #fff;
}
.hr3{
	margin: 50px 165px 60px 0;
 }
 .footer__nav__2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 50%;
}
.footer__menu__item > p{
	line-height: 26px;
	padding-top: 17px;
}
.footer__nav__3{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 135px;
	width: 270px;
}
a[href^="mailto:"]{
	font-weight: 700;
	font-size: 24px;
	line-height: 38px;
	color: #FFFFFF;
	text-decoration: none;
}
.mail{
	padding: 23px 0 8px 0;
}
.social a {
    text-align: center;
    width: 40px;
    height: 40px;
    float: left;
    background: #444A34;
	color: #5D6544;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 25px 10px 10px 0;
    padding: 6px;
}
.google-pluse a:hover {background: #FFD723; color: #fff;}
.twitter a:hover {background: #FFD723; color: #fff;}
.facebook a:hover {background: #FFD723; color: #fff;}
.linkedin a:hover {background: #FFD723; color: #fff;}
.reservation{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #B5C096;
	margin: 13px 30px 36px 550px;
}
.footer__menu__item > a:hover, .footer__menu__item > a:focus, .footer__menu__item > a:active{
	color: #FFD723;
}
/* FOOTER */
