@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;700&display=swap');
html{
	box-sizing: border-box;
}
*, * ::before, * ::after{
	box-sizing: inherit;
}
body, *{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	font-family: 'Poppins';
	font-size: 16px;
}
img{
	width: 100%;
	height: auto;
}
.container{
	width: 100%;
	margin: 0 auto;
	padding: auto;
	max-width: 1440px;
}
.container_full{
	max-width: 1110px;
	margin: 0 auto;
	margin-left: 150px;
}

.link{
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	border: 0;
}
.link:before{
	padding-right: 4px;
	content: "▸";
}
.link:hover, .link :focus, .link :active{
	color: #FFD723;
}
.section_title{
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
	color: #4D533C;
}
.small_comment{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: rgba(77, 83, 60, 0.9);
}
.block{
	height: 830px;
}
.name_user{
	font-weight: 700;
	font-size: 22px;
	line-height: 33px;
	color: #4D533C;
	margin-bottom: 5px;
}

.description_user{
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #152934;
}
/* HEADER */
.header_container{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 20px;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
#menu{
	display: none;
}
.button{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	/* z-index: 1; */
	/* margin-left: 800px; */
	transition: 0.5s;
}
.button_line{
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 5px;
	background: #000;
	margin: 2px 0;
}
.m_menu{
	max-height: 0;
	font-size: 0;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transform: translateX(0%);
	transition: 0.5s all;
}
.menu_link{
	display: block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 10px;
	line-height: 24px;
	text-align: center;
}

#menu:checked ~ .m_menu{
	max-height: 200px;
	font-size: 16px;
	/* padding: 10px 190px 1px 1px;
	margin: 90px 180px 20px 100px; */
	height: 40px;
	padding: 0 4px 0 8px;
	background: rgba(225, 229, 224, 0.893);
	border-radius:  10px 10px 10px 10px;
}
.menu_link:hover, .menu_link :focus, .menu_link :active{
	opacity: .5;
}
#menu:checked ~ .button{
	display: none;
}
/* HEADER */

/* INTRO */
.intro{
	min-height: 100vh;
	background: url('./img/intro.jpg') no-repeat right center;
	background-size: cover;
	padding-top: 170px;
}
.intro_comment{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
	margin-bottom: 27px;
}
.intro_title{
	max-width: 616px;
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
	color: #FFFFFF;
	margin-bottom: 24px;
}
.intro_subtitle{
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	max-width: 580px;
	margin-bottom: 30px;
}
.intro_link{
	color: #FFD723;
	border-bottom: 2px solid #FFD723;
}
.intro_link:before{
	color: #FFD723;
}
/* INTRO */

/* AWARDS */
.awards{
	margin: 0 auto;
	position: relative;
	z-index: 2;
	float: right;
}
.awards_wrap{
	display: inline-block;
	position: absolute;
	min-width: 1276px;
	width: 100%;
	display: flex;
	flex-direction: row;
	top: 0;
	right: 0;
	transform: translateY(-45%);
	background-color: #FFFFFF;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	border-radius: 2px;
}
@media (min-width: 1500px) {
	.awards{
		display: inline-block;
		padding-right: 160px;
		margin-bottom: 107px;
	}
}
.award{
	padding: 30px 33px 30px 35px;
}
.award:last-child{
	padding-right: 0;
}
/* AWARDS */

 /* STRATEGY */
.small_comment{
	max-width: 136px;
	margin-top: 220px;
	margin-bottom: 29px;
}
.strategy_title{
	width: 470px;
	margin-bottom: 35px;
}
mark{
	color: #4D533C;
	background: #FFD7231A;
}
.subtitle{
	max-width: 475px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #21384299;
	margin-bottom: 42px;
}
.main_link{
	color: #D4D6D4;
	border-bottom: 1px solid #D4D6D4;
}
.main_link:before{
	color: #D4D6D4;
}
 /* STRATEGY */

 /* first comment */
.comment_1_wrap{
	margin: 0 0 0 auto;
	width: 474px;
	height: 640px;
	position: relative;
	transform: translateY(-80%);
	background-color: #FFFFFF;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	border-radius: 2px;
}
.comment{
	width: 426px;
	padding: 190px 4px 0 40px;
	font-style: italic;
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	color: #4D533C;
}
.user_1{
	padding: 40px 10px 0 10px;
}

hr{
	margin-top: -300px;
}
 /* first comment */

 /* third block */
 .block_wrap{
	display: flex;
	flex-direction: row;
	margin-top: 150px;
	margin-bottom: 105px;
	justify-content: space-around;
 }
 .block_title{
	width: 325px;
 }
 .block_comment{
	width: 520px;
	margin-bottom: 5px;
 }
 .test{
	position: relative;
 }
 .figure{
	position: absolute;
	width: 750px;
	height: 450px;
	top: 0px;
	left: 0px;
 }
.wall{
	padding: 100px 0px 24px 890px;
}

.wall_1{
	width: 420px;
	margin-bottom: 90px;
}
 .comment_2_wrap{
	margin: 125px 610px 0 auto;
	width: 500px;
	height: 330px;
	background-color: #FFFFFF;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	border-radius: 10px;
 }
 .comment_2 {
	width: 450px;
	font-size: 16px;
	line-height: 35px;
	padding: 30px 30px 0px 30px;
 }
.user_2 {
	margin: 25px 0 0 10px;
}
.item__time {
	display: flex;
	flex-direction: row;
}

.item__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: -50px;
}
.item__2{
	margin-top: -48px;
	margin-left: -65px;
}
 /* third block */

 /* fourth block */
 .test{
	position: relative;
	margin-bottom: 0px;
 }
 .figure__2{
	position: absolute;
	width: 750px;
	height: 250px;
	right: 0px;
	left: 690px;
 }
.wall__2{
	padding-top: 65px;
	padding-bottom: 24px;
	width: 450px;
}
.fff{
	width: 350px;
}
 .comment_3_wrap{
	margin: 125px 330px 0 auto;
	width: 500px;
	height: 330px;
	background-color: #FFFFFF;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	border-radius: 10px;
 }
 .comment_3 {
	width: 450px;
	font-size: 16px;
	line-height: 35px;
	padding: 30px 30px 0px 30px;
 }
.user_3 {
	margin: 25px 0 0 10px;
}
.item__3{
	margin-top: -48px;
	margin-left: -65px;
}
 /* fourth block */

 /* fifth block */
 .com__4{
	 height: 280px;
 }

 
 .title_3{
	width: 450px;
}
  /* fifth block */

 .hr2{
	margin-top: 30px;
 }
.block_wrap_2{
	margin-top: 200px;
	padding-bottom: 320px;
 }
 .title__4{
	padding: 50px 0px 65px 165px;
	width: 770px;
 }
 .tarifs{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 60px;
	padding: 0 170px;
 }
 .tarif{
	 grid-column: span 1;
 }
 .tarif__title{
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #4D533C;
	max-width: 183px;
	margin-bottom: 20px;
 }
 .tarif__desc{
	max-width: 194px;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	color: #21384299;
 }
 .one{
	margin-bottom: 56px;
 }
 .two{
	margin-bottom: 30px;
 }
 /* LET'S MAKE */

.making{
	min-width: 1275px;
	background-color: #FAFAFA;
	margin: 0 auto;
	position: relative;
	float: left;
	padding: 70px 285px 115px 164px;
	box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}
.making_wrap{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-45%);
	background-color: #FAFAFA;
}
.title{
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
	color: #4D533C;
	max-width: 820px;
	margin-bottom: 50px;
}

/* FOOTER */
.footer{
	background-image: url(./img/footer.svg);
	padding: 120px 0;
}
/* FOOTER */
