@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;700&display=swap');
html{
	box-sizing: border-box;
}
*, * ::before, * ::after{
	box-sizing: inherit;
}
body, *{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	font-family: 'Poppins';
	font-size: 16px;
}
img{
	width: 100%;
	height: auto;
}
.container{
	width: 100%;
	margin: 0 auto;
	padding: auto;
	max-width: 1440px;
}
.container_full{
	max-width: 1110px;
	margin: 0 auto;
}
.section_title{
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
	color: #4D533C;
}
.small_comment{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: rgba(77, 83, 60, 0.9);
}

/* HEADER */
.header_container{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 20px;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	
	/* display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 2;
	justify-content: space-around; */
}
#menu{
	display: none;
}
.button{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	/* z-index: 1; */
	/* margin-left: 800px; */
	transition: 0.5s;
}
.button_line{
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 5px;
	background: #000;
	margin: 2px 0;
}
.m_menu{
	max-height: 0;
	font-size: 0;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transform: translateX(0%);
	transition: 0.5s all;
}
.menu_link{
	display: block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 10px;
	line-height: 24px;
	text-align: center;
	/* padding: 0 4px 0 4px; */
	/* padding: 5px 10px; */
	/* transition: all .2s linear; */
}

#menu:checked ~ .m_menu{
	max-height: 200px;
	font-size: 16px;
	/* padding: 10px 190px 1px 1px;
	margin: 90px 180px 20px 100px; */
	height: 40px;
	padding: 0 4px 0 8px;
	background: rgba(225, 229, 224, 0.893);
	border-radius:  10px 10px 10px 10px;
}
.menu_link:hover, .menu_link :focus, .menu_link :active{
	opacity: .5;
}
#menu:checked ~ .button{
	display: none;
}
/* HEADER */

/* INTRO */
.intro{
	min-height: 100vh;
	background: url('./img/intro.jpg') no-repeat right center;
	background-size: cover;
	padding-top: 170px;
}
.intro_comment{
	color: #FFFFFF;
	margin-bottom: 27px;
}
.intro_title{
	max-width: 616px;
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
	color: #FFFFFF;
	margin-bottom: 24px;
}
.intro_subtitle{
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	max-width: 580px;
	margin-bottom: 30px;
}
.intro_link{
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: #FFD723;
	border: 0;
	border-bottom: 2px solid #FFD723;
}
.intro_link:before{
	padding-right: 2px;
	content: "▸";
	color: #FFD723;
}
/* INTRO */

/* AWARDS */
.awards{
	min-width: 1276px;
	max-height: 227px;
	margin: 0 auto;
	margin-right: 0;
	position: relative;
	margin-bottom: 120px;
}
.awards_wrap{
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 0;
	left: 0;
	transform: translateY(-45%);
	background-color: #FFFFFF;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	border-radius: 2px;
}
@media (min-width: 1500px) {
	.awards{
		/* margin-left: ; */
		margin-bottom: 107px;
	}
}
.award{
	padding: 30px 33px 30px 35px;
}
.award:last-child{
	padding-right: 0;
}
/* AWARDS */

 /* STRATEGY */
.strategy{
	padding-top: 120px;
}
.small_comment{
	margin-bottom: 29px;
}
.strategy_title{
	max-width: 475px;
	margin-bottom: 35px;
}
.comment{
	max-width: 475px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}
.strategy_link{
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-decoration-line: underline;
	color: #D4D6D4;
}
 /* STRATEGY */